<h1>New Budget Holder</h1>

<div class="card-header">
  <h3 class="text-center font-weight-light my-4">Create Budget Holder</h3>
  <%= render 'shared/client_and_project_info' %>
</div>
<%= render 'form', budget_holder: @budget_holder %>