<h1>New Plant Type</h1>
<div class="card-header">
  <h3 class="text-center font-weight-light my-4">Create Plant Type</h3>
  <%= render 'shared/client_and_project_info' %>
</div>
<%= render 'form', plant_type: @plant_type %>