<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-success") if msg.length > 0 %>
      <% end %>
      <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <div class="row">


          <div class="col-sm-10 offset-1">
            <section id="tabs">
              <div class="">
                <div class="row">
                  <div class="col-sm-12 ">
                    <nav>
                      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a style="background: #1466FB; color: white; margin: 20px; width: 120px; border-radius: 10px;" class="nav-item nav-link" id="nav-projects-tab" data-toggle="tab" href="#projects-table" role="tab" aria-controls="nav-home" aria-selected="true">
                          <div class="card-body ">Projects</div>
                        </a>
                        <a style="background: #FFC300; color: white; margin: 20px; width: 120px; border-radius: 10px;" class="nav-item nav-link" id="nav-users-tab" data-toggle="tab" href="#users-table" role="tab" aria-controls="nav-profile" aria-selected="false">
                          <div class="card-body">Ambquad TM Users</div>
                        </a>
                        <a style="background: #00B249; color: white; margin: 20px; width: 120px; border-radius: 10px;" class="nav-item nav-link" id="nav-companies-tab" data-toggle="tab" href="#companies-table" role="tab" aria-controls="nav-contact" aria-selected="false">
                          <div class="card-body">Client Companies</div>
                        </a>
                      </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                      <div class="tab-pane fade" id="projects-table" role="tabpanel" aria-labelledby="nav-projects-tab">
                        <%= render 'shared/project_table' %>
                      </div>
                      <div class="tab-pane fade" id="users-table" role="tabpanel" aria-labelledby="nav-users-tab">
                        <%= render 'shared/user_table' %>
                      </div>
                      <div class="tab-pane fade" id="companies-table" role="tabpanel" aria-labelledby="nav-companies-tab">
                        <%= render 'shared/client_compnies_table' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

        </div>

      </div>
    </main>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script>
    $('#dataTable').DataTable();

</script>