<% if @project.present? %>
  <h6 class="text-white">Client - <%= @project.client_company.company_name rescue "N/A" %></h6>
  <h6 class="text-white">Project - <%= @project.project_name rescue "N/A" %></h6>
<% end %>