<div class="card mb-4">
  <div class="card-header"><i class="fas fa-table mr-1"></i>Client Info</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable12" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Company Name</th>
          <th>Number of Users</th>
          <th>Country</th>
          <th>Company Actions</th>
        </tr>
        </thead>

        <tbody>

        <tr>
          <td><%= current_user.client_company.company_name %></td>
          <td><%= current_user.client_company.number_of_users %></td>
          <td><%= current_user.client_company.country_name %></td>
          <td>
            <%= link_to "View", client_company_path(current_user.client_company), :class => "btn btn-outline-success" %>
          </td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  var dataTable = $('#dataTable12').DataTable({
    "columnDefs": [
        {"searchable": false, "targets": 3}
    ]
  });
  document.addEventListener("turbolinks:before-cache", function() {
    if (dataTable !== null) {
      dataTable.destroy();
      dataTable = null;
    }
  });
});
</script>