<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Compnay</th>
  </tr>
  </thead>

  <tbody>
  <% Project.all.each do |project| %>
    <tr>
      <td><%= project.project_name %></td>
      <td><%= project.site_office_address %></td>
      <td><%= project.client_companies.last.company_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>