<h1>Editing Time Sheet Cost Code</h1>

<%= render 'form', time_sheet_cost_code: @time_sheet_cost_code %>

<%= link_to 'Show', @time_sheet_cost_code %> |
<%= link_to 'Back', time_sheet_cost_codes_path %>
