<div id="layoutSidenav">
  <div id="layoutSidenav_content" class="mt-4">
    <h3 class="alert-success mt-1"><%= notice %></h3>
    <div class="page-wrapper p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5">
          <div class="card-heading bg-clr">
            <h3 class="text-center font-weight-light my-4">Edit Cost Code</h3>
            <%= render 'shared/client_and_project_info' %>
          </div>

          <div class="card-body">
            <%= render 'form', other_manager: @other_manager %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
