<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <% if notice.present? %>
      <p id="notice" class="alert-success notice-style"><%= notice %></p>
    <% end %>
    <div class="form-info-style">
      <%= render 'shared/client_and_project_info' %>
    </div>
<!--    <h3 class="alert-success mt-1"><%#= notice %></h3>-->
    <div class="page-wrapper p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5 form-border-style">
          <div class="card-heading text-white bg-clr">
            <h4 class="text-center font-weight-light my-4">Edit Manager </h4>
            <%= render 'shared/client_and_project_info' %>
          </div>

          <div class="card-body">
            <%= render 'form', other_manager: @other_manager %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
