<h1>Editing Project Company</h1>
<div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Project Company</h3></div>
<%= render 'form', project_company: @project_company %>

<%= link_to 'Show', @project_company %> |
<%= link_to 'Back', project_companies_path %>
