<h1>New Project Company</h1>
<div class="card-header"><h3 class="text-center font-weight-light my-4">Create Project Company</h3></div>
<%= render 'form', project_company: @project_company %>

<%= link_to 'Back', project_companies_path %>
