<div id="layoutSidenav">
  <div id="layoutSidenav_content" class="mt-4">
    <center>
      <h3 class="alert-success mt-1"><%= notice %></h3>
    </center>
    <div class="page-wrapper p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5">
          <div class="card-heading bg-clr">
            <h3 class="text-center font-weight-light text-white mt-1">Create Project Company</h3>
            <%= render 'shared/client_and_project_info' %>
          </div>
          <div class="card-body">
            <%= render 'form', project_company: @project_company %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
