<h1>Editing Project</h1>
<div class="card-header"><h3 class="text-center font-weight-light my-4">Edit <%= @project.project_name %></h3></div>
<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
