<h1>Editing Plant</h1>
<div class="card-header"><h3 class="text-center font-weight-light my-4">Edit <%= @plant.plant_name %></h3></div>
<%= render 'form', plant: @plant %>

<%= link_to 'Show', "/projects/#{@project.id}/plants/#{@plant.id}" %> |
<%= link_to 'Back', "/projects/#{@project.id}/plants" %>
