<h1>New Company</h1>
<div class="card-header"><h3 class="text-center font-weight-light my-4">Create Company</h3></div>
<%= render 'form', client_company: @client_company %>

<%= link_to 'Back', client_companies_path %>
