<h1>Editing Employee Type</h1>
<div class="card-header"><h3 class="text-center font-weight-light my-4">Edit <%= @employee_type.employee_type %></h3></div>
<%= render 'form', employee_type: @employee_type %>