
<h1>New Employee Type</h1>
<div class="card-header"><h3 class="text-center font-weight-light my-4">Create Employee Type</h3></div>
<%= render 'form', employee_type: @employee_type %>

<%#= link_to 'Back', employee_types_path %>
