<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <% if notice.present? %>
      <p id="notice" class="alert-success notice-style"><%= notice %></p>
    <% end %>
    <div class="form-info-style">
      <%= render 'shared/client_and_project_info' %>
    </div>
    <div class="page-wrapper p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5 form-border-style">
          <div class="card-heading card-text-clr bg-clr">
            <h4 class="text-center font-weight-light">Edit Foreman <%= Employee.find_by_id(@foreman.employee_id).employee_name %></h4>
          </div>
          <div class="card-body">
            <%= render 'form', foreman: @foreman %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>