<h1>New Foreman</h1>
<div class="card-header">
  <h3 class="text-center font-weight-light my-4">Create Foreman</h3>
  <%= render 'shared/client_and_project_info' %>
</div>
<%= render 'form', foreman: @foreman %>