// Place all the styles related to the PlantTimeSheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cost-btn {
  border-radius: 36%;
  font-size: 18px;
  float: right;
  float: top;
}

.plant_sheet_id {
  display: none;
}
