// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden_option {
  display: none;
}

.bold-title {
  font-weight: bold !important;
}

.bold-title-with-color {
  color: green !important;
  font-weight: bold !important;
}

.row1-clr {
  background-color: #c0a16b !important;
}

.row2-clr {
  background-color: darkgrey !important;
}

.row3-clr {
  background-color: #8ACCB1 !important;
}