<footer class="bg-light footer">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted" style="margin: 0 auto">Copyright © 2020 Ambquad  Solutions Ltd. All Rights Reserved.</div>
<!--      <div>-->
<!--        <a href="#">Privacy Policy</a>-->
<!--        &middot;-->
<!--        <a href="#">Terms &amp; Conditions</a>-->
<!--      </div>-->
    </div>
  </div>
</footer>
